<img src='/assets/modernoffice.jpg' class="bg">

<div class="" style="margin-top:100px;">
	<div class="row" >
		<div class="square span6 ">
			<hr style="margin-top:15px"/>
			<div class="row control-panel" id="take-quiz-btn">
				<div class="span6">Multiple Choice Q's</div>
			</div>
			<hr/>
			<div class="row control-panel" id="view-results-btn">
				<div class="span6" id="view-past-results-btn">Free Response Q's</div>
			</div>
			<hr/>
			<div class="row control-panel" id="edit-profile-btn" >
				<div class="span6">Users</div>
			</div>
			<hr/>
		</div>
	</div>
</div>