<img src='/assets/modernoffice.jpg' class="bg">

<div class="" style="margin-top:100px;">
	<div class="row" >
		<div class="square span6 ">
			<hr style="margin-top:15px"/>
			<div class="row control-panel">
				<div class="span6"><%= link_to "Multiple Choice Q's", multiple_choice_questions_path, :style => "color:white" %></div>
			</div>
			<hr/>
			<div class="row control-panel">
				<div class="span6" id="view-past-results-btn"><%= link_to "Free Response Q's", free_response_questions_path, :style => "color:white" %></div>
			</div>
			<hr/>
			<div class="row control-panel" >
				<div class="span6">Users</div>
			</div>
			<hr/>
		</div>
	</div>
</div>