<div class="square span18 offset3" id="take-new-quiz" style="display:none">
		<div class="row">
			<div class="span17">
				<h1>You are about to take a new <%= category%> quiz! </h1>
				<hr/>
			</div>
		</div>
	<div class="row" style="margin-top: 20px">
		<div class="t-center">
			<%= link_to "Begin the quiz!", start_new_quiz_user_path(:category => category), remote: true, id: "begin-new-quiz-btn", class: "btn btn-large btn-danger take-new-quiz-btn"%>
		</div>
	</div>
</div>