<div class="square span6" id="pick-quiz-category" style="display:none">
	<div id="quiz-categories" style="display:none">
		<hr style="margin-top:15px"/>
		<% quiz_categories.each do |category| %>

		<%= link_to(get_quiz_user_path(:category => category), remote: true, style: "color:white") do %>
			<div class="row control-panel new_quiz_cat" id="take_new_quiz_btn">
				<div class="span6"> <%= category %> </div>
			</div>
		<% end %>
		<hr/>
		<% end %>
	</div>
</div>

