<div class="square span6" id="pick-quiz-category" style="display:none">
	<div id="quiz-categories" style="display:none">
		<hr style="margin-top:15px"/>
		<% quiz_categories.each do |category| %>

		<div class="row control-panel">
			<div class="span6"><%= link_to category, take_new_quiz_user_path(:category => category), :style => "color:white", :method => "post" %></div>
		</div>
		<hr/>
		<% end %>
	</div>
</div>