<img src='/assets/modernoffice.jpg' class="bg">

<div class="" style="margin-top:100px;">
	<div class="row" >
		<div class="square span6" id="control-panel" style="display:">
			<hr style="margin-top:15px"/>
			<div class="row control-panel" id="take-quiz-btn">
				<div class="span6">Take a Code Quiz</div>
			</div>
			<hr/>
			<div class="row control-panel" id="view-results-btn">
				<div class="span6" id="view-past-results-btn">View Past Results</div>
			</div>
			<hr/>
			<div class="row control-panel" id="edit-profile-btn" >
				<div class="span6">Edit Your Profile</div>
			</div>
			<hr/>
		</div>
		<%= render partial: "edit_profile_form", locals: {user: @user} %>
		<%= render partial: "pick_quiz_category", locals: {user: @user} %>
		
	</div>
</div>

<div class="row" style="margin-top:-50px">
	<% if @quiz %>
	<%= render partial: "take_quiz_portal", locals: {user: @user, quiz: @quiz} %>
	<% end %>
</div>