<h1>Listing free_responses</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @free_responses.each do |free_response| %>
  <tr>
    <td><%= link_to 'Show', free_response %></td>
    <td><%= link_to 'Edit', edit_free_response_path(free_response) %></td>
    <td><%= link_to 'Destroy', free_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Free response', new_free_response_path %>
