// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.control-panel{
	padding-top:12px;
	padding-bottom: 12px;
	margin-left: 0px;
	margin-top:	-10px;
	
}

#edit-profile-btn:hover {background-color: #1ABC9C !important; cursor: pointer;} 
#take-quiz-btn:hover {background-color: #1ABC9C !important; cursor: pointer;} 
#view-results-btn:hover {background-color: #1ABC9C !important; cursor: pointer;} 

#take-quiz-portal{
	overflow-y: scroll;
	overflow-x: hidden;
}